.time-voyage{
  display: flex;
  flex-direction: column;
}

.search{
  width: 90%;
  padding: 5%;
}

.timeline {
  transform: rotate(-90deg) translateY(-100vh);
  transform-origin: right top;
  height: 100vw;
  width: 100vh;
  overflow-y: auto;
  overflow-x: hidden;
  padding: 40px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: start;
  direction: rtl;
}

.card{
  display: flex;
}

.dotted-line{
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.dot{
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: black;
  position: relative;
}

.dot-date{
  transform: rotate(90deg);
  position: absolute;
  top: -5px;
  left: 20px;
  overflow: visible;
}

.line{
  flex-grow: 1;
  width: 1px;
  background-color: black;
}

.line-hidden{
  background: white;
}
